<div class="col-12 home-banner">
  <h1 class="home-banner-text"><span >Fancy a Drink??</span></h1>
  <%= link_to "click me;)", cocktails_path, class: "home-banner-btn"%>
</div>

<script src="main.js"></script>
<%= javascript_pack_tag 'listener'%>

