<div class="home-banner col-12">
  <h1><span id="banner-typed-text">Fancy a Drink??</span></h1>
  <%= link_to "Cocktails", cocktails_path, class: "btn" %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

    </div>
  </div>
</div>
