// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.background-image-home{
  height: 100vh;
  color: #eee;
  text-shadow: 3px 3px #15F4EE;
  text-align: center;
  padding-top: 40vh;
  font-size: 32px;
  font-family:'Titillium Web', sans-serif;
}


